@charset "UTF-8";

div {
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

div:hover{
    background-color: #d45858;
}