@charset "UTF8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
       }
h1 {
    color: rgb(1, 100, 45);
    background-color: rgba(127, 219, 255, 0.61);
       }
h2 {
    color: rgb(2, 81, 100);
       }
a {
    color: rgb(65, 65, 65);
    text-decoration: none;
}