@charset "UTF-8";

/*Estilo para impressão*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com';
}

